@use "./base.scss";

@font-face {
    font-family: "FZLaoMing";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url("../static/fonts/FZFWZhuZiAOldMincho.ttf") format("truetype");
  }
  
